@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100;300;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

:root{
    --main-bg-color: #242B33;
    --footer-bg-color: #2D343C;
    --title-color: #D4C17F;
    --text-color: #FFFFFF;
    --logo-font: 'Post No Bills Jaffna SemiBold';
    --text-font: 'Raleway';
    --title-font: 'Playfair Display', serif;
}
html,body{
    height: 100vh;

}
.wrapper{
    height: 100%;
    display: flex; 
    flex-direction: column;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    height: 840px;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), 
    url(img/bg/rectangle2.jpg);
}
.title{
    font-family: var(--title-font);
    color: var(--title-color);
}
.text{
    font-family: var(--text-font);
    color: var(--text-color);
}
.header__inner{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    align-items: center;
    margin-top: 1.5%;
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo__title{
    font-family: var(--logo-font);
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
    height: 50px;
}
.logo__text{
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.12em;
}
.links{
    font-family: var(--text-font);
    color: var(--text-color);
    list-style-type: none;
    display: flex;
}
.header__links{
    gap: 2rem;
}
.main{
    flex: 1 1 auto;
}
.first-screen{
    height: 755px;
}
.first-screen__inner{
    width: 40%;
    margin: auto;
    height: 100%;
}
.first-screen__center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-screen__title{
    margin-top: 25%;
    font-size: 48px;
    text-align: center;
    line-height: 64px;
}
.first-screen__text{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12%;
    height: fit-content;
}
.first-screen__text-right, .first-screen__text-left{
    position: relative;
}
.first-screen__text-left{
    margin-left: 2%;
}
.first-screen__icon{
    position: absolute;
    left: -1.9rem;
}
.testimonial{
    height: 100vh;
    background-color: var(--main-bg-color);
}

.appartments{
    background-color: var(--main-bg-color);
    height: 80vh;
}
.appartments__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appartments__title{
    align-self: flex-start;
    margin-left: 22%;
}
.appartments__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.appartments__elem{
    display: flex;
    gap: 2rem;
}

.appartments__text{
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.appartments__img{
    position: relative;

}